.newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter__input {
  width: 85%;
  height: 40px;
  font-size: 13px;
  border: 1px #cad4de solid;
  border-radius: 3px;
  margin: 10px auto;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
input:focus,
textarea:focus,
input[type]:focus {
  outline: none !important;
  border: 1px solid #747678;
  box-shadow: 1px 1px 5px #1111115b;
}

.newsletter__btn {
  width: 87%;
  background-color: #e40f0f;
  border: none;
  border-radius: 3px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 12px;
  height: 40px;
  box-shadow: 2px 2px 3px #1111115b;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.newsletter__btn:hover {
  background-color: #800c0c;
  border: none;
}

/* @media only screen and (max-width: 768px) {
  .newsletter__input {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .newsletter__btn {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .newsletter__input {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .newsletter__btn {
    margin-left: 10px;
  }
} */
