.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.content__header {
  height: 70px;
  background-size: cover;
  background-image: url("../../assets/header_image.png");
  background-color: #232323;
}

.content__left {
  text-align: left;
  color: whitesmoke;
}

.content__left > small {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.content__left > h2 {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
}

.content__right {
  width: 600px;
}

.content__img {
  height: 110%;
  width: 110%;
}

.content__footerContainer {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 15px 0 0 0;
  background-color: #232323;
}

.content__footer {
  height: 250px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.742);
  background-image: url("../../assets/header_image.png");
}

.content__footer > p {
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  padding: 50px 400px 100px 400px;
}

.content__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: whitesmoke;
  text-align: center;
  cursor: pointer;
  font-size: 40px;
  margin: -65px 400px 0 400px;
}

.content__allRights {
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  padding: 10px 0;
}

/*--MOBILE--*/
@media only screen and (max-width: 600px) {
  .content {
    display: grid;
    width: 100%;
  }
  .content__header {
    display: none;
  }
  .content__left {
    text-align: left;
    margin-top: 20px;
  }
  .content__left > h2 {
    margin-top: 5px;
  }
  .content__input {
    display: none;
  }
  .content__btn {
    display: none;
  }
  .content__right {
    width: auto;
    margin-top: -20px;
  }
  .content__img {
    width: 500px;
  }
  .content__footerContainer {
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
  }

  .content__footer {
    margin-top: 0;
    height: 400px;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.742),
      rgba(0, 0, 0, 1)
    );
    z-index: 1;
    padding-bottom: 100px;
  }
  .content__footer > p {
    text-align: center;
    padding: 5px 80px 100px 80px;
  }

  .content__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
    margin: -65px 150px 0 150px;
  }
}
