.content__left {
  color: whitesmoke;
  text-align: left;
  margin: 5px 0 0;
  height: 50px;
  background-color: black;
  font-family: "Open Sans", sans-serif;
}
.content__left > small {
  margin-left: 20px;
}
.content__left > h2 {
  margin-left: 20px;
  line-height: 5px;
}

.newsletter__form {
  display: none;
}

.content__right {
  background-color: black;
}
.content__img {
  width: 100%;
  margin-bottom: -3px;
}

.content__footer {
  height: 350px;
  background-image: url("../../assets/header_image.png");
  background-color: #232323;
}

.content__footer > p {
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  padding: 0 50px 10px;
}

.content__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: whitesmoke;
  cursor: pointer;
  font-size: 24px;
  padding: 0 70px 10px;
}

.content__allRights {
  padding: 10px 0;
  margin: 0 0px;
  background-color: #232323;
}

.content__allRights > small {
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 10px;
}
/*--TABLET--*/
@media only screen and (min-width: 768px) {
  .content__header {
    height: 70px;
    background-size: cover;
    background-image: url("../../assets/header_image.png");
    background-color: #232323;
  }

  .content__left {
    text-align: center;
  }
  .content__left > small {
    font-size: 17px;
  }
  .content__left > h2 {
    padding-top: 10px;
    font-size: 30px;
  }

  /*--NEWSLETTER ON BODY--*/
  .newsletter__form {
    display: none;
  }

  .content__img {
    width: 100%;
    margin-bottom: -3px;
  }

  /*--NEWSLETTER-FOOTER--*/
  .newsletterFooter__form {
    display: grid;
    flex-direction: column;
    justify-content: center;
  }
  .newsletterFooter__input {
    width: 253px;
    height: 40px;
    font-size: 13px;
    border: 1px #c9d3dd solid;
    border-radius: 5px;
    margin: 30px 0 10px 0;
    text-align: center;
  }
  .newsletterFooter__btn {
    width: 113px;
    background-color: #e40f0f;
    border: 1px #29323d solid;
    border-radius: 3px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 12px;
    height: 40px;
    margin: 10px auto 5px auto;
    transition: 0.5s;
  }

  .newsletterFooter__btn:hover {
    background-color: whitesmoke;
    color: #e40f0f;
  }

  .content__footer {
    height: 400px;
    background-size: cover;
  }

  /*--paragragh--*/
  .content__footer > p {
    padding: 15px 250px 20px;
  }

  .content__icons {
    font-size: 34px;
    padding: 0 270px 10px;
  }

  .content__allRights > small {
    font-size: 12px;
  }
}

/*--DESKTOP--*/
@media only screen and (min-width: 1000px) {
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
  }
  .content__left {
    width: 100%;
    float: left;
    text-align: left;
    margin-left: 50px;
  }
  .content__left > small {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
  }

  .content__left > h2 {
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
  }

  /*--NEWSLETTER BODY--*/
  .newsletter__form {
    margin-left: 10px;
    display: block;
  }
  .newsletter__input {
    width: 253px;
    height: 40px;
    font-size: 13px;
    border: 1px #c9d3dd solid;
    border-radius: 3px;
    margin-right: 5px;
  }

  .newsletter__btn {
    width: 113px;
    background-color: #e40f0f;
    border: 1px #29323d solid;
    border-radius: 3px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 12px;
    height: 40px;
    margin-left: 5px;
    transition: 0.5s;
  }

  .newsletter__btn:hover {
    background-color: whitesmoke;
    color: #e40f0f;
  }
  .content__img {
    width: 100%;
    float: right;
    margin-bottom: 0;
  }
  /*-NEWSLETTER FOOTER--*/
  .newsletterFooter__form {
    display: none;
  }

  .content__footerContainer {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 0 0 0;
    background-color: #232323;
  }

  .content__footer {
    height: 200px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.742);
    background-image: url("../../assets/header_image.png");
  }

  .content__footer > p {
    padding-top: 40px;
    margin: 10px 190px 10px;
  }

  .content__icons {
    font-size: 30px;
    margin: 20px 190px 0;
  }
  .content__allRights {
    padding: 10px 0;
  }
}
@media only screen and (min-width: 1366px) {
  .content__footer > p {
    padding-top: 100px;
  }
  .content__footer {
    height: 400px;
  }
  .content__allRights {
    padding: 25px 0;
  }
}
