/*--MOBILE LANDSCAPE IPHONE 6/7 320px aprox--*/
.content__logo {
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  display: grid;
  flex-direction: column;
}
.content__img {
  width: 50%;
  margin: 10px auto;
}
.content__left > h2 {
  line-height: 5px;
  margin: 10px 0;
}

.content__newsletter {
  background-color: whitesmoke;
  width: 90%;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 20px;
  padding: 20px 0 0;
}

/*--NEWSLETTER ON CSS COMPONENT--*/

.content__newsletter > p {
  color: #464748;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  margin: 30px 20px 20px;
}

.content__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #626465;
  cursor: pointer;
  font-size: 20px;
  padding: 20px 0 30px;
  margin: 0 2px;
}
.fa-facebook-square {
  border: 1px #cad4de solid;
  padding: 5px 30px;
  border-radius: 5px;
}
.fa-facebook-square:hover {
  color: #949698;
}

.fa-instagram {
  border: 1px #cad4de solid;
  padding: 5px 30px;
  border-radius: 5px;
}
.fa-instagram:hover {
  color: #949698;
}

.fa-twitter {
  border: 1px #cad4de solid;
  padding: 5px 30px;
  border-radius: 5px;
}
.fa-twitter:hover {
  color: #949698;
}

.content__allRights {
  padding: 10px 0;
  margin: 40px 0 0;
}

.content__allRights > small {
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 11px;
  vertical-align: bottom;
}
/*--MOBILE LANDSCAPE iPhone 6/7--*/
@media only screen and (min-width: 667px) {
  .content__img {
    width: 25%;
  }
  .content__newsletter {
    width: 75%;
    padding: 10px 0;
  }
  .content__newsletter > p {
    margin: 30px 50px 20px;
  }
  .content__icons {
    margin: auto 50px;
  }
}
/*--TABLET PORTRAIT IPAD--*/
@media only screen and (min-width: 768px) {
  .content__img {
    width: 30%;
    margin: 50px auto 20px;
  }
  .content__newsletter {
    padding: 30px 10px 10px;
    width: 50%;
  }
  .newsletter__form {
    width: 85%;
    margin: 0 auto;
  }
  .content__newsletter > p {
    margin: 30px 50px 20px;
  }
  .content__icons {
    margin: auto 5px;
  }
  .content__allRights {
    margin: 260px 0 0;
  }
}
/*--TABLET LANDSCAPE --*/
@media only screen and (min-width: 1024px) {
  .content__img {
    width: 20%;
    margin: 20px auto 10px;
  }
  .content__newsletter {
    padding: 20px 0 5px;
    width: 40%;
  }
  .newsletter__form {
    width: 85%;
    margin: 0 auto;
  }
  .content__newsletter > p {
    margin: 30px 50px 20px;
  }
  .content__icons {
    margin: auto 5px;
  }
  .content__allRights {
    margin: 100px 0 0;
  }
}

/*--DESKTOP--*/
@media only screen and (min-width: 1440px) {
  .content__img {
    width: 15%;
  }
  .content__newsletter {
    width: 30%;
    padding: 20px 5px;
  }
  .newsletter__form {
    padding: 30px 0 0;
  }
  .content__newsletter > p {
    margin: 20px 50px;
    padding: 20px 0;
  }
  .content__icons {
    margin: auto 5px;
    padding: 20px 0;
  }
  .content__allRights {
    margin: 120px 0 0;
  }
}
