.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.content__left {
  text-align: center;
  background-color: red;
}

.content__right {
  background-color: green;
}

/* .content_img {
  object-fit: cover;
  height: 100px;
  width: 100%;
  background-size: cover;
} */

.content__separator {
  background-color: darkslategray;
  color: whitesmoke;
  width: 100%;
}
