@media only screen and (min-width: 792px) {
  .newsletterFooter__form {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .newsletterFooter__form {
    display: grid;
    flex-direction: column;
    justify-content: center;
  }
  .newsletterFooter__input {
    width: 253px;
    height: 40px;
    font-size: 13px;
    border: 1px #c9d3dd solid;
    border-radius: 5px;
    margin: 30px 0 10px 0;
    text-align: center;
  }
  .newsletterFooter__btn {
    width: 113px;
    background-color: #e40f0f;
    border: 1px #29323d solid;
    border-radius: 3px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 12px;
    height: 40px;
    margin: 10px auto 5px auto;
    transition: 0.5s;
  }

  .newsletterFooter__btn:hover {
    background-color: whitesmoke;
    color: #e40f0f;
  }
}
